#content h1{
	background: url(../images/news.gif) no-repeat;
}

#content ul{
	margin-left: 20px;
	margin-top: 10px;
}

#content ul li{
	line-height: 200%;
	padding-left: 15px;
	background: url(../images/ico.gif) no-repeat left center;
}

#content ul li a{
	color: 06f;
	text-decoration: none;
}

#content ul li a:hover{
	color: #f60;
	text-decoration: underline;
}

#content p{
	margin-top: 30px;
	text-align: center;
}